<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level} %style{%logger{36}}{magenta} - %msg%n"/>
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        </Console>
        <RollingFile name="roll-by-time-and-size"
                     fileName="reddit-telegram-forwarder.log"
                     filePattern="reddit-telegram-forwarder.%d{MM-dd-yyyy-HH-mm}.%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %p %logger{36} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="128 KB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="" maxDepth="1000000">
                    <IfFileName glob="reddit-telegram-forwarder.*.log.gz"/>
                    <IfLastModified age="30m"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <TelegramBotAppender name="telegramBotAppender">
            <IgnoredExceptions>
                <IgnoredException>org.apache.http.NoHttpResponseException</IgnoredException>
                <IgnoredException>java.net.http.HttpConnectTimeoutException</IgnoredException>
                <IgnoredException>java.net.ConnectException</IgnoredException>
            </IgnoredExceptions>
        </TelegramBotAppender>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="roll-by-time-and-size"/>
            <AppenderRef ref="telegramBotAppender" level="error"/>
        </Root>
        <Logger name="org.springframework" level="warn"/>
        <Logger name="org.apache.http" level="warn"/>
        <Logger name="org.hibernate" level="warn"/>
        <Logger name="org.hibernate.SQL" level="debug"/>
        <Logger name="org.jboss.logging" level="warn"/>
        <Logger name="org.sqlite.core" level="warn"/>
        <Logger name="com.zaxxer.hikari" level="warn"/>
        <Logger name="io.micrometer.observation" level="debug"/>
    </Loggers>
</Configuration>